.body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.gameContainer{
  text-align: center;
}
.gameBoard{
  border: 3px solid;
}
.score{
  font-family: "consolas",monospace;
  font-size: 20px;
}
.resetButton{
  font-family: "consolas",monospace;
  font-size: 20px;
}