*{
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  justify-content: center;
}
.gamecontainer{
  background-image: url('/img/8_0-1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
 
  width: 500px;
  height: 200px;
  border: 3px solid black;
  background-color: rgb(0, 153, 255);
  text-align: center;
}
.avatar{
  width: 20px;
  height: 20px;
  background-color: rgb(2,2,2);
  position: relative;
  top:180px;
  left: 150px;
  z-index: 100;
  border: 2px solid white;
  border-bottom: none;
  
}
.img{
  width: 100%;
}
.animate{
  animation: avatar 500ms;
}
.block{
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid black;
  position: relative;
  top:158px;
  left: 480px;
  animation: block 2s infinite linear;
  
 
}
.restart{
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 40px;

}
.coins{
  width: 10px;
  height: 10px;
  background-color: yellow;
  border: 2px solid black;
  position: relative;
  top:135px;
  left: 480px;
  animation: coins 4s infinite linear;
}
@keyframes block{
  0%{left:480px;rotate: 1 1 60 0deg;scale: 1;}
  25%{left:300 ;scale: 0.5;}
  50%{left:200 ;scale: 1;}
  75%{left:100 ;scale: 0.5;}
 100%{left:-3px ;rotate: 1 1 360 360deg;scale: 1;}
}
@keyframes coins{
  0%{left:480px}
 
 100%{left:-3px }
}
@keyframes avatar{
  0%{top: -50px};
  30%{top: 50px};
  40%{bottom: -50px};
  60%{margin-bottom:-50px};
  70%{top: 50px};
  100%{top: 158px};

}
