*{
    margin: 0;
    padding: 0;
}
.page-main-container{
    background-color: aquamarine;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.question-main-box{
    background-color: aliceblue;
    height: 40vh;
    width: 80vh;
    padding: 8px;
    border-radius: 4px;
}
.question-main-box>p{
    text-align: center;
    font-size: 40px;

}
.question-sub-box .timer{
    text-align: center;
    font-size: 20px;
}
.question-sub-box .question{
    text-align: center;
    font-size: 20px;
}
.question-sub-box .options-container{
margin-top: 8px;
}
.question-sub-box .options-container>button{
font-size: 20px;
}
.question-sub-box .options-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}
.question-sub-box>p{
    margin-top: 2px;
    font-size: 20px;
}