.img{
  width:100%;
  height: 100%;
}

.container{
 display: inline-block;
 margin: 20px;
 
}
.mainContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 6px;
}
.image{
  width: 250px;
  height: 200px;
  border: 1px solid black;
  background-color: antiquewhite;
}
.item1,.item2,.item3,.item4,.item5{
  width: 250px;
  height: 30px;
 
  border: 1px solid black;
  font-size: 12px;

}
.actualMainContainer{
  display: flex;
  justify-content: center;
}
